.data-read {
    margin-bottom: 40px;
    @include for-size(tablet) {
        margin-bottom: 48px;
    }
    @include for-size(desktop) {
        margin-bottom: 60px;
    }
}

.data-read__news {
    grid-auto-rows: 675px;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1280px) {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.data-read__news.hide {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    transition: all 0.3s ease-in-out;
}

.data-read__btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 6px;
    color: var(--colorTextDark);

    font-family: 'Poppins';
    @include font(
        $weight: 400,
        $size: 14px,
        $line-height: 1.7143,
        $letter-spacing: 0.02
    );

    border-bottom: 1px solid #929292;
    background-color: inherit;
    cursor: pointer;
    @include for-size(mobile-only) {
        margin-bottom: 28px;
        gap: 6px;
    }
    @include for-size(tablet) {
        margin-bottom: 30px;
        gap: 7px;
    }
    @include for-size(desktop) {
        margin-bottom: 40px;
        gap: 8px;
    }
    border-top: none;
    border-left: none;
    border-right: none;
    &.expanded svg {
        transform: rotate(180deg);
    }
}

.data-read__icon {
    fill: var(--colorTextDark);
}

.news__item-read {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.data-read__icon.rotate {
    transform: rotate(180deg);
}

.news__item-read {
    position: relative;
    border: transparent solid 1px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 768px) {
        height: 532px;
    }

    @media screen and (min-width: 768px) {
        height: 675px;
    }
}
