<div class="user-profile is-hidden">
    <!-- <button class="user-profile__close">
        <svg width="30" height="30">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <form class="user-profile__form">
        <div class="user-profile__box">
            <div class="user-profile__img-box">
                <button class="user-profile__red-btn" type="button">
                    <svg class="user-profile__ico" width="20" height="20">
                        <use href="./images/sprite.svg#icon-pencil"></use>
                    </svg>
                </button>
                <img
                    class="js-avatar"
                    src="./images/avatar.jpg"
                    alt="User photo"
                />
            </div>
            <div class="user-profile__input-box">
                <label class="user-profile__form-field">
                    <input
                        class="user-profile__input"
                        type="text"
                        name="user_name"
                        value=""
                        disabled
                    />
                </label>
                <button class="input-btn" type="button">
                    <svg class="input-btn__icon" width="18" height="18">
                        <use
                            class="input-btn__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="input-btn__use show"
                            xlink:href="./images/sprite.svg#icon-pencil"
                        ></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="user-profile__stats">
            <h2 class="user-profile__title">Statistics</h2>
            <div class="user-profile__stats-box">
                <p class="user-profile__stat">
                    Allready read: <span class="js-read">0</span>
                </p>
                <p class="user-profile__stat">
                    Favorites: <span class="js-favorites">0</span>
                </p>
            </div>
        </div>
        <div class="user-profile__form-box">
            <h3 class="user-profile__subtitle">Change password</h3>
            <div class="user-profile__input-box">
                <label class="user-profile__form-field">
                    Old password:
                    <input
                        autocomplete="off"
                        class="user-profile__input"
                        type="text"
                        name="pass"
                    />
                </label>
                <button class="input-btn" type="button">
                    <svg class="input-btn__icon" width="18" height="18">
                        <use
                            class="input-btn__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="input-btn__use show"
                            xlink:href="./images/sprite.svg#icon-eye-denied"
                        ></use>
                    </svg>
                </button>
            </div>
            <div class="user-profile__input-box">
                <label class="user-profile__form-field">
                    New password:
                    <input
                        autocomplete="off"
                        class="user-profile__input"
                        type="text"
                        name="confirmPass"
                    />
                </label>
                <button class="input-btn" type="button">
                    <svg class="input-btn__icon" width="18" height="18">
                        <use
                            class="input-btn__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="input-btn__use show"
                            xlink:href="./images/sprite.svg#icon-eye-denied"
                        ></use>
                    </svg>
                </button>
            </div>
        </div>
        <button class="user-profile__btn" type="submit" disabled>
            Save change
        </button>
    </form> -->
</div>
