.profile {
    position: relative;
    display: flex;
}

.profile__btn {
    width: 30px;
    height: 30px;
    background-image: url('../images/avatar-default-small.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

// .profile__btn.autorized {
//     background-image: url('../images/avatar.jpg');
// }

.profile__caption {
    padding-left: 15px;
    margin-bottom: 10px;
}

.profile__menu {
    position: absolute;
    top: calc(100% + 12px);
    right: -12px;
    width: 180px;
    height: auto;
    padding-top: 15px;
    border-radius: 10px;
    transition: opacity $baseTransition, background-color $baseTransition;
    background-color: var(--colorBackground);
    border: 2px solid gray;
    z-index: 10;
}

.profile__menu::before {
    content: '';
    position: absolute;
    top: -9px;
    right: 16px;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    background-color: var(--colorBackground);
    transition: background-color $baseTransition;
}

.profile__menu.hide {
    opacity: 0;
    pointer-events: none;
}

.profile__list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    padding-top: 3px;
    padding-bottom: 3px;
}

.profile__item {
    height: 30px;
}

.profile__item.hide {
    display: none;
}

.profile__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
    padding-left: 15px;
    transition: background-color $baseTransition;
}

.profile__link:hover,
.profile__link:focus {
    background-color: var(--colorHover);
}
