.user-profile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #404040;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    @include for-size(tablet) {
        width: 350px;
    }
}

.user-profile__card {
    display: flex;
    min-height: 100%;
    padding: 25px 75px 25px 25px;
    background-color: var(--colorBackground);
    transform: translateX(0);
    transition: transform $baseTransition;
    // box-shadow: -12px 0px 24px 5px rgba(0, 0, 0, 0.77);
}

.user-profile__card.is-hidden {
    transform: translateX(100%);
}

.user-profile.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.user-profile__close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    background-color: inherit;
    transition: background-color $baseTransition;
}

.user-profile__close svg {
    fill: #acacac;
    transition: fill $baseTransition;
}

.user-profile__close:hover svg {
    fill: $colorAccent;
}

.user-profile__box {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: var(--colorTextDark);
}

.user-profile__name {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    color: var(--colorTextDark);
}

.user-profile__img-box {
    position: relative;
    margin-bottom: 20px;
    & img {
        border-radius: 50%;
    }
}

.user-profile__edit-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: opacity $baseTransition;
    background-color: #fff;
    border: none;
    border-radius: 8px;
}

.user-profile__ico {
    fill: #acacac;
    pointer-events: none;
    transition: fill $baseTransition;
}

.user-profile__edit-btn:hover .user-profile__ico,
.user-profile__edit-btn:focus .user-profile__ico {
    fill: $colorAccent;
}

.user-profile__stats {
    padding: 15px 0;
    @include for-size(tablet) {
        padding: 0;
    }
}

.user-profile__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.user-profile__stats-box {
    display: grid;
    grid-template-columns: 130px auto;
    row-gap: 10px;
    margin-bottom: 15px;
}

.user-profile__stat {
    font-size: 18px;
}

%btn-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: var(--colorTextCategoryBtn);
    border: 1px solid $colorAccent;
    transition: background-color $baseTransition, color $baseTransition;
    cursor: pointer;
    & svg {
        fill: $colorAccent;
        transition: fill $baseTransition;
    }
    &:hover {
        background-color: $colorAccent;
        color: var(--colorTextLight);
        & svg {
            fill: var(--colorTextLight);
        }
    }
}

.user-profile__sign-out-btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 40px;
    // border: none;
    // border-radius: 20px;
    // color: #fff;
    // background-color: $colorAccent;
    // transition: background-color $baseTransition;
    // cursor: pointer;
    @extend %btn-class;
    @include for-size(tablet) {
        margin-top: auto;
    }
}

.user-profile__sign-out-btn:hover,
.user-profile__sign-out-btn:focus {
    background-color: $colorAccentHover;
}

.user-profile__crop-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity $baseTransition, visibility $baseTransition;
    &.hide {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }
}

.user-profile__crop-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 450px;
    padding: 25px;
    background-color: var(--colorBackground);
    & img {
        object-fit: contain;
    }
}

.user-profile__img-wrapper {
    margin-bottom: 15px;
}

.user-profile__btn-wrapper {
    display: flex;
    gap: 10px;
}

.user-profile__open-btn {
    @extend %btn-class;
}

.user-profile__save-btn {
    @extend %btn-class;
}
