.news__item-favorite {
    position: relative;
    border: transparent solid 1px;
    grid-column-start: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 768px) {
        height: 532px;
    }

    @media screen and (min-width: 768px) {
        height: 675px;
    }
}

.news__item-favorite:nth-child(2) {
    grid-column-start: auto;
}
.news__item-favorite:nth-child(3) {
    grid-column-start: auto;
}
